* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('naruto-sasuke-epic-battle-anime-desktop-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    z-index: 2;
}

.contenido {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-family: "Silkscreen", sans-serif;
    font-size: 30px;
    cursor: pointer;
    z-index: 5;
    text-align: center;
    transition: transform 0.3s ease;
}

.contenido:hover {
    transform: translateX(-50%) scale(1.1);
}

/* Contenedor del video de transición */
.video-transicion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.video-transicion video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Animación de desvanecimiento */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
